.header {
  background-color: var(--white-light);
  box-shadow: 0px 29px 45px rgba(220, 53, 53, 0.08);
  border-radius: 0px 0px 50px 50px;
}

.header .container {
  padding-top: 30px;
  padding-bottom: 16px;
  position: relative;

}

.header-block {

  display: grid;
  grid-template-columns: 19% 24% 19%;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 99px;
  align-items: end;
  margin-bottom: 30px;
}


.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 44px;
}

.header-nav-list-item.active a {
  color: var(--red);
}