.header {
  background-color: var(--white-light);
  box-shadow: 0px 29px 45px rgba(220, 53, 53, 0.08);
  border-radius: 0px 0px 50px 50px;
}

.header .container {
  padding-top: 30px;
  position: relative;
}

.header-block {
  display: grid;
  grid-template-columns: 19% 24% 19%;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 99px;
  align-items: end;
  margin-bottom: 30px;
}

.header-nav {
  position: relative;
  padding-bottom: 16px;
}

.header-icons {
  position: absolute;
  right: 0.5%;
  bottom: 36%;
}

.header-icon:first-child {
  margin-right: 16px;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 44px;
}

.header-nav-list-item a {
  color: var(--dark);
  transition: .3s ease;
}

.header-nav-list-item.active a {
  color: var(--red);
}

.header-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--dark);
  text-transform: uppercase;
  padding: 9px 20px 7px;
  transition: .3s ease;
  /* width: 238px; */
  margin-bottom: 5px;
}


.header-btn:first-child {
  justify-self: end;
  font-size: 16px;
}

.header-btn:active {
  background-color: var(--pink);
}